body{
  background-color:#fff;
  margin: 0 auto;
}
img{

  margin: 50px;
}
form{
  margin-left: 100px;
}
#gameWord{

  margin-left: 50px;
  margin-top: 50px;
  font-size: 30px;
  text-align:center;
}
.blankSpaces{
  margin-left: 50px;
  margin-top: 50px;
  text-align: center;
}
